<section id="Difusion"  class="success" >
  <div class="container">
    <div class="row principal">
      <div class="col-lg-12 text-center">
        <h3>
        Colabora con este proyecto, ayúdanos a difundir ODILA
        </h2>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
      <p>Si te gusta la idea del Proyecto ODILA y queres sumarte de alguna
      forma, tenes diferentes maneras de hacerlo:</p>
      <ol>
        <li>
          <strong>Sponsor</strong>: Si estas interesado en sponsorear con tu empresa u organización el Proyecto ODILA, podés escribirnos a <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="ef808b86838eaf808b86838ec1809d88">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script> y comentarnos tu propuesta.
        </li>
        <li><strong>Adhesión Institucional</strong>: Si queres apoyar el proyecto a través de tu
          empresa, organismo o institución, podés hacerlo publicando los banners de ODILA en tus
          sitios web y generando algún artículo que informe sobre la existencia del Proyecto ODILA.
        A todos aquellos que adhieran, podrán enviar su logo (formato PNG, tamaño 250x100 px.), el
        cuál será exhibido entre los organismos que "<strong>Adhieren</strong>".</li>
        <li>
          <strong>Nota o artículo para prensa</strong>: Si queres hacer una nota o artículo de prensa sobre el Proyecto ODILA, podes tomar la información disponible en "<strong>Quienes Somos</strong>". Si te hace falta más información, podes escribirnos a <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="234c474a4f42634c474a4f420d4c5144">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script>
        </li>
      </ol>
    </div>
    <div class="row principal">
      <div class="col-lg-3 col-lg-offset-2">
        <p><strong>Banner 234 x 80</strong></p>
        <p><img src="/imgs/logos/odila-banner-234x80-naranja.png" alt="ODILA - Observatorio de
        Delitos Informáticos de Latinoamérica" height="80" width="234"></p>
        <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot;
        href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt;
        &lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot;
        src=&quot;
        <a href="view-source:http://odila.org/imgs/logos/odila-banner-234x80-naranja.png">
          http://odila.org/imgs/logos/odila-banner-234x80-naranja.png
        </a>&quot;
      /&gt; &lt;/a&gt;</pre>
      </div>
      <div class="col-lg-3">
        <p>&nbsp;</p>
        <p class="text-justify"><img src="/imgs/logos/odila-banner-234x80-negro.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="80" width="234"> </p>
        <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt;&lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-234x80-negro.png">http://odila.org/imgs/logos/odila-banner-234x80-negro.png</a>&quot; /&gt; &lt;/a&gt;</pre>
      </div>
      <div class="col-lg-3">
        <p>&nbsp;</p>
        <p><img src="/imgs/logos/odila-banner-234x80-verde.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="80" width="234"></p>
        <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt; &lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-234x80-verde.png">http://odila.org/imgs/logos/odila-banner-234x80-verde.png</a>&quot; /&gt; &lt;/a&gt;</pre>
      </div>
    </div>
    <div class="row principal">
      <div class="col-lg-3 col-lg-offset-2">
        <p><strong>Banner 125 x 125</strong></p>
        <p class="text-justify"><img src="/imgs/logos/odila-banner-125x125-naranja.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="125" width="125"> </p>
        <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt;&lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-125x125-naranja.png">http://odila.org/imgs/logos/odila-banner-125x125-naranja.png</a>&quot; /&gt; &lt;/a&gt;</pre>
      </div>
      <div class="col-lg-3">
        <p>&nbsp;</p>
        <p><img src="/imgs/logos/odila-banner-125x125-negro.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="125" width="125"></p>
        <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt; &lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-125x125-negro.png">http://odila.org/imgs/logos/odila-banner-125x125-negro.png</a>&quot; /&gt; &lt;/a&gt;</pre>
      </div>
      <div class="col-lg-3">
        <p>&nbsp;</p>
        <p class="text-justify"><img src="/imgs/logos/odila-banner-125x125-verde.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="125" width="125"> </p>
        <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt;&lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-125x125-verde.png">http://odila.org/imgs/logos/odila-banner-125x125-verde.png</a>&quot; /&gt; &lt;/a&gt;</pre>
      </div>
    </div>
    <div class="row principal">
      <div class="col-lg-3 col-lg-offset-2">
        <p><strong>Banner 200 x 200</strong></p>
        <p class="text-justify"><img src="/imgs/logos/odila-banner-200x200-naranja.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="200" width="200"> </p>
        <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt;&lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-200x200-naranja.png">http://odila.org/imgs/logos/odila-banner-200x200-naranja.png</a>&quot; /&gt; &lt;/a&gt;</pre>
      </div>
      <div class="col-lg-3">
        <p>&nbsp;</p>
        <p><img src="/imgs/logos/odila-banner-200x200-negro.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="200" width="200"></p>
        <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt; &lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-200x200-negro.png">http://odila.org/imgs/logos/odila-banner-200x200-negro.png</a>&quot; /&gt; &lt;/a&gt;</pre>
      </div>
      <div class="col-lg-3">
        <p>&nbsp;</p>
        <p class="text-justify"><img src="/imgs/logos/odila-banner-200x200-verde.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="200" width="200"> </p>
        <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt;&lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-200x200-verde.png">http://odila.org/imgs/logos/odila-banner-200x200-verde.png</a>&quot; /&gt; &lt;/a&gt;</pre>
      </div>
    </div>
  </div>
</section>
