<!DOCTYPE html>
                    <html lang="es">
                        <head>
                            <meta name="Copyright" content="Cristian Borghello, Marcelo Temperini, Maximiliano Macedo">
                            <meta charset="utf-8">
                            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                            <meta name="viewport" content="width=device-width, initial-scale=1">
                            <meta name="description" content="ODILA - Observatorio de Delitos Informáticos de Latinoamérica">
                            <meta name="keywords" content="denunciar delitos informáticos, denunciar delitos informáticos online, reportar delito informatico, cibercrimen, delitos informaticos, denunciar grooming, denunciar pornografía infantil, denunciar violación correo electrónico, denuncias informáticas, encuesta delitos informaticos, estafa informática, fraude informático, hacking, informar delito informático, legislacion delitos informaticos, observatorio delitos informáticos, phishing, reportar delito informatico, suplantación identidad, violación datos personales">
                            
                            <title>ODILA - Denunciar Delitos Informáticos en Latinoamérica</title>
                            
                            <!-- Favicon -->
                            <script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"eac28b320a39aae89d47f69e2fd7ded1",petok:"15d6a665bb8546eb3c0c49928e3a53183cfe5e9f-1491317564-1800",zone:"odila.org",rocket:"0",apps:{"ga_key":{"ua":"UA-55073911-1","ga_bs":"2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=f2befc48d1/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
//]]>
</script>
<link href="imgs/iconos/favicon.ico" rel="icon" type="image/x-icon">
                            <link href="imgs/iconos/favicon.ico" rel="shortcut icon" type="image/x-icon">
                            
                            <!-- Bootstrap -->
                            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
                            <link href="includes/bootstrap/css/custom.css" rel="stylesheet">
                            
                            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                            <!--[if lt IE 9]>
                                <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
                                <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
                            <![endif]-->
                            
                            <!-- jQuery -->
                            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                            <!-- Include all compiled plugins (below), or include individual files as needed -->
                            <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

							<!-- Agrega Datepicker -->
                            <script type="text/javascript" src="includes/modernizr/modernizr.custom.76434.js"></script>
                            
                            <!-- CSS Global -->
                            <link href="includes/css/style.css" rel="stylesheet" type="text/css" title="estiloGlobal"/>
                            
                            <!-- Fonts -->
							 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
							 
                            <link href="includes/fonts/montserrat2.css" rel="stylesheet" type="text/css">

                            <!-- Javascripts -->
							<script type="text/javascript" src="includes/js/jquery.bxslider.js"></script>
							<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
                            <script type="text/javascript" src="includes/js/classie.js"></script>
                            <script type="text/javascript" src="includes/js/cbpAnimatedHeader.js"></script>
                            <script type="text/javascript" src="includes/js/page-scroll.js"></script>
                            <script type="text/javascript" src="includes/js/form.js"></script>
							
							<script>Modernizr.load({
								test: Modernizr.inputtypes.date,
								nope: ["//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js", "//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js", "//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"],
								complete: function () {
									$("input[type=date]").datepicker({
										dateFormat: "dd-mm-yy",
										minDate: new Date(2010, 1-1, 1),
										maxDate: "+0d"
									}); 
								}
							});
							</script>
							
                        <script type="text/javascript">
/* <![CDATA[ */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-55073911-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

(function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
/* ]]> */
</script>
</head><body id="page-top" class="index"><nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header  page-scroll">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button><a class="navbar-brand" href="/"><img src="/imgs/logos/logo-odila.png" alt="ODILA - Denunciar Delitos Informáticos en Latinoamérica"></a></div>
			<!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						
                            <ul class="nav navbar-nav navbar-right">
                                <li class="page-scroll"><a href="http://odila.org/#Quienes">Quienes Somos</a></li><li class="page-scroll"><a href="http://odila.org/#Denuncia">Denunciar</a></li><li class="page-scroll"><a href="glosario">Glosario</a></li><li class="page-scroll"><a href="difusion">Difusión</a></li><li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes <b class="caret"></b></a>
                            <ul class="dropdown-menu"><li class="page-scroll"><a href="http://odila.org/reporte-2015">Reporte 2015</a></li><li class="page-scroll"><a href="http://odila.org/reporte">Reporte 2016</a></li></ul>
                        </li><li class="page-scroll"><a href="http://odila.org/#Contacto">Contacto</a></li>
                            </ul>       </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav><section id="Difusion"  class="success" >
                    <div class="container">
		  <div class="row principal">
			<div class="col-lg-12 text-center">
			  <h3>
			  Colabora con este proyecto, ayúdanos a difundir ODILA
			  </h2>
			</div>
		  </div>
		  <div class="col-lg-8 col-lg-offset-2">
			<p>Si te gusta la idea del Proyecto ODILA y queres sumarte de alguna forma, tenes diferentes maneras de hacerlo:</p>
			<ol>
			  <li><strong>Sponsor</strong>: Si estas interesado en sponsorear con tu empresa u organización el Proyecto ODILA, podés escribirnos a <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="ef808b86838eaf808b86838ec1809d88">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script> y comentarnos tu propuesta.</li>
			  <li><strong>Adhesión Institucional</strong>: Si queres apoyar el proyecto a través de tu empresa, organismo o institución, podés hacerlo publicando los banners de ODILA en tus sitios web y generando algún artículo que informe sobre la existencia del Proyecto ODILA. A todos aquellos que adhieran, podrán enviar su logo (formato PNG, tamaño 250x100 px.), el cuál será exhibido entre los organismos que "<strong>Adhieren</strong>".</li>
			  <li><strong>Nota o artículo para prensa</strong>: Si queres hacer una nota o artículo de prensa sobre el Proyecto ODILA, podes tomar la información disponible en "<strong>Quienes Somos</strong>". Si te hace falta más información, podes escribirnos a <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="234c474a4f42634c474a4f420d4c5144">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></li>
			</ol>
		  </div>
		  <div class="row principal">
			<div class="col-lg-3 col-lg-offset-2">
			  <p><strong>Banner 234 x 80</strong></p>
			  <p><img src="/imgs/logos/odila-banner-234x80-naranja.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="80" width="234"></p>
			  <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt; &lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-234x80-naranja.png">http://odila.org/imgs/logos/odila-banner-234x80-naranja.png</a>&quot; /&gt; &lt;/a&gt;</pre>
			</div>
			<div class="col-lg-3">
			  <p>&nbsp;</p>
			  <p class="text-justify"><img src="/imgs/logos/odila-banner-234x80-negro.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="80" width="234"> </p>
			  <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt;&lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-234x80-negro.png">http://odila.org/imgs/logos/odila-banner-234x80-negro.png</a>&quot; /&gt; &lt;/a&gt;</pre>
			</div>
			<div class="col-lg-3">
			  <p>&nbsp;</p>
			  <p><img src="/imgs/logos/odila-banner-234x80-verde.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="80" width="234"></p>
			  <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt; &lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-234x80-verde.png">http://odila.org/imgs/logos/odila-banner-234x80-verde.png</a>&quot; /&gt; &lt;/a&gt;</pre>
			</div>
		  </div>
		  <div class="row principal">
			<div class="col-lg-3 col-lg-offset-2">
			  <p><strong>Banner 125 x 125</strong></p>
			  <p class="text-justify"><img src="/imgs/logos/odila-banner-125x125-naranja.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="125" width="125"> </p>
			  <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt;&lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-125x125-naranja.png">http://odila.org/imgs/logos/odila-banner-125x125-naranja.png</a>&quot; /&gt; &lt;/a&gt;</pre>
			</div>
			<div class="col-lg-3">
			  <p>&nbsp;</p>
			  <p><img src="/imgs/logos/odila-banner-125x125-negro.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="125" width="125"></p>
			  <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt; &lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-125x125-negro.png">http://odila.org/imgs/logos/odila-banner-125x125-negro.png</a>&quot; /&gt; &lt;/a&gt;</pre>
			</div>
			<div class="col-lg-3">
			  <p>&nbsp;</p>
			  <p class="text-justify"><img src="/imgs/logos/odila-banner-125x125-verde.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="125" width="125"> </p>
			  <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt;&lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-125x125-verde.png">http://odila.org/imgs/logos/odila-banner-125x125-verde.png</a>&quot; /&gt; &lt;/a&gt;</pre>
			</div>
		  </div>
		  <div class="row principal">
			<div class="col-lg-3 col-lg-offset-2">
			  <p><strong>Banner 200 x 200</strong></p>
			  <p class="text-justify"><img src="/imgs/logos/odila-banner-200x200-naranja.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="200" width="200"> </p>
			  <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt;&lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-200x200-naranja.png">http://odila.org/imgs/logos/odila-banner-200x200-naranja.png</a>&quot; /&gt; &lt;/a&gt;</pre>
			</div>
			<div class="col-lg-3">
			  <p>&nbsp;</p>
			  <p><img src="/imgs/logos/odila-banner-200x200-negro.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="200" width="200"></p>
			  <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt; &lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-200x200-negro.png">http://odila.org/imgs/logos/odila-banner-200x200-negro.png</a>&quot; /&gt; &lt;/a&gt;</pre>
			</div>
			<div class="col-lg-3">
			  <p>&nbsp;</p>
			  <p class="text-justify"><img src="/imgs/logos/odila-banner-200x200-verde.png" alt="ODILA - Observatorio de Delitos Informáticos de Latinoamérica" height="200" width="200"> </p>
			  <pre class="prettyprint linenums languague-htm">&lt;a title=&quot;Ir a ODILA.org&quot; href=&quot;<a href="view-source:http://www.odila.org/">http://www.odila.org</a>&quot;&gt;&lt;img alt=&quot;ODILA - Observatorio de Delitos Informáticos de Latinoamérica&quot; src=&quot;<a href="view-source:http://odila.org/imgs/logos/odila-banner-200x200-verde.png">http://odila.org/imgs/logos/odila-banner-200x200-verde.png</a>&quot; /&gt; &lt;/a&gt;</pre>
			</div>
		  </div>
		</div>
                </section><footer class="text-center">
				  <script type="text/javascript">
					  $(document).ready(function(){$('.bxslider').bxSlider({
					  auto: true,
					  speed: 600,
					  mode: 'horizontal',
					  captions: false,
					  pager: false,
					  controls: false
						});
				});
				</script><div class="footer-above">
				  <div class="container">
					<div class="row">
					  <div class="footer-col col-md-4">
						<h3>Sobre ODILA</h3>
						<p>ODILA (Observatorio de Delitos Inform&aacute;ticos de Latinoam&eacute;rica) es un proyecto para construir un espacio de investigaci&oacute;n, sobre la realidad en materia de delitos inform&aacute;ticos y cibercrimen.</p>
					  </div>
					  <div class="footer-col col-md-4">
						<h3>En la web</h3>
						<ul class="list-inline">
						  <li><a href="/#Contacto" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope"></i></a></li>
						  <li><a href="http://www.twitter.com/ODILatam" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a></li>
						  <li><a href="https://www.facebook.com/ODILatam" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a></li>
						</ul>
					  </div>
					  <div class="footer-col col-md-4">
						<h3>Colaboran</h3>
						  <ul class="bxslider">
							<li><img src="/imgs/colaboran/asegurarte.png" title="AsegurarTe" /></li>
							<li><img src="/imgs/colaboran/logo-segu-info.png" title="Segu.Info" /></li>
							<li><img src="/imgs/colaboran/lambdasi.png" title="LambdaSI" /></li>
						  </ul>
					  </div>
					</div>
				  </div>
				</div>
				<div class="footer-below">
				  <div class="container">
					<div class="row">
					  <div class="col-lg-12"> ODILA - Copyright &copy; 2014 | <a href="http://www.asegurarte.com.ar">AsegurarTE</a> - <a href="http://www.segu-info.com.ar">Segu-Info</a> | <a href="tos">Términos y Condiciones</a> </div>
					</div>
				  </div>
				</div>
				</footer><div class="scroll-top page-scroll">
                        <a class="btn btn-primary" href="#page-top">
                            <i class="fa fa-home fa-fw"></i>
                        </a>
                    </div><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-55073911-1', 'auto');ga('send', 'pageview');</script></body></html>