<section id="Reporte"  class="success" >
  <div class="container">
    <div class="row principal">
      <div class="col-lg-12 text-center">
        <h2>Reporte de ODILA 2016</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 glosario">
        <h3>Resumen Informe Junio 2016</h3>
        <p>Este segundo informe es publicado luego de <strong>dos años de funcionamiento de ODILA</strong>. En este último año se han recepcionado <strong>1.260 denuncias de 21 países</strong>, con un promedio de <strong>3,5 reportes por día</strong>.</p>
        <p align="center"><%= image_tag 'informe-02' %></p>
        <p>El incidente más reportado sigue siendo el acceso indebido a datos o sistemas restringidos <em>(hacking)</em> con el 13,5%. En segundo lugar, encontramos a los fraudes y estafas informáticas. En tercer lugar con el 11,11% comparten posición las calumnias e injurias junto con la suplantación de identidad digital.</p>
        <p><a href="http://www.twitter.com/ODILatam"><i class="fa fa-fw fa-cloud-download"></i></a>El Reporte 2016 completo se puede <%= link_to 'descargar en formato PDF', asset_path('informe_2016.pdf') %></p>
        <p class="chico">(1.76 MB - SHA1 = 03279ad232fa0edb2747d8e05fc7d14cf8bc9065)</p>
      </div>
    </div>
  </div>
</section>
