<section id="Reporte"  class="success" >
  <div class="container">
    <div class="row principal">
      <div class="col-lg-12 text-center">
        <h2>Reporte de ODILA 2015</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 glosario">
        <h3>Resumen Informe Junio 2015</h3>
        <p>Este primer informe es publicado tras <strong>266 días de funcionamiento de ODILA</strong>, en donde se han recepcionado <strong>1.290 denuncias de 18 países</strong>, de 21 que forman parte del estudio, dando un promedio de <strong>4,85 reportes por día</strong>.</p>
        <p align="center"><%= image_tag 'informe-01' %></p>
        <p>Como se puede observar en los resultados, <strong>más del 70% de los denunciantes son personas físicas</strong>, algo que pretendía ser el objetivo de <strong>ODILA</strong>: buscar ser un canal de información para aquellas personas víctimas de delitos informáticos que muchas veces no cuentan con las herramientas o información de las que puede disponer una organización pública o privada.</p>
        <p>Entre las causas más importantes por las cuales no se han realizado las denuncias formales, encontramos en primer lugar la <strong>falta de confianza en que la investigación tenga éxito</strong>, seguido por la <strong>priorización de la confidencialidad del incidente ocurrido</strong>.</p>
        <!--p align="center"><img src="/imgs/informe/informe-03.jpg" alt="Causas de No Denuncia"></p-->
        <div align="center">
          <div data-configid="18161277/13805773" style="width:700px; height:550px;" class="issuuembed"></div>
          <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
        </div>
        <p><a href="http://www.twitter.com/ODILatam"><i class="fa fa-fw fa-cloud-download"></i></a>El Reporte completo se puede <%= link_to 'descargar en formato PDF', asset_path('informe_2015.pdf') %></p>
        <p class="chico">(4.1 MB - SHA1 = 598242deb1c98f7fde8a56e483823ed15dc029e3)</p>
      </div>
    </div>
  </div>
</section>


