<section id="tos"  class="success" >
  <div class="container">
    <div class="row principal">
      <div class="col-lg-12 text-center">
        <h2>Términos y condiciones</h2>
      </div>
    </div>
    <div class="row principal">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Relación jurídica</h3>
        <ol>
          <li>El acceso a y/o uso del sitio <a href="http://www.odila.org/">ODILA</a>, en adelante
            denominado "Proyecto ODILA", requiere que todos los visitantes al mismo se adhieran a
            los Términos y Condiciones, aceptándolos plenamente y sin reserva alguna, así como en su
          caso, las Condiciones Particulares que en el futuro puedan complementarlas, sustituirlas o
          modificarlas en algún sentido en relación con los servicios y contenidos del Proyecto
        ODILA.</li>
          <li> Por el solo hecho de ingresar y hacer uso del Proyecto ODILA, usted (el "Usuario") se
            adhiere en forma inmediata a todos y cada uno de los siguientes Términos y Condiciones.
            En consecuencia, el Usuario deberá leer detenidamente los Términos y Condiciones así
            como las Condiciones Particulares, que pudieran dictarse, antes de acceder y/o utilizar
            cualquier servicio de la Red bajo su entera responsabilidad.
        </ol>
        <h3>Legislación aplicable</h3>
        <ol>
          <li>El ingreso y utilización del Proyecto ODILAo se encuentra sujeto a las disposiciones
            aplicables de la legislación Argentina. Usted acepta someterse a la jurisdicción
            exclusiva para resolver cualquier asunto legal derivado de estos Términos y Condiciones.
        </ol>
        <h3>Uso del Sitio y Limitación de Responsabilidades</h3>
        <ol>
          <li>El Usuario se compromete a hacer uso del Proyecto ODILA y sus servicios y contenidos
            sin contravenir la legislación aplicable, la buena fe y el orden público. En
            consecuencia, queda prohibido todo uso con fines ilícitos o que perjudiquen o impidan,
            puedan dañar y/o sobrecargar, de cualquier forma, la utilización y normal funcionamiento
            del sitio, que directa o indirectamente atenten contra el mismo o contra cualquier derecho
            de un tercero.</li>
          <li>La información proporcionada por el Proyecto ODILA es provista para el Usuario "en la
            forma que se encuentra", de forma que los propietarios y/o administradores de la Red no
            garantizan la exactitud, precisión o conveniencia de tal información.</li>
          <li>El Proyecto ODILA no garantiza la exactitud de los resultados en relación a sobre si
            el hecho efectivamente puede ser considerado un delito penal en el país indicado por el
            Usuario. Usted acepta la exención de responsabilidad por parte de los propietarios y/o
            administradores sobre la veracidad, precisión o exactitud de toda aquella información
            suministrada por el Proyecto ODILA.</li>
          <li>El Proyecto ODILA no brinda asesoramiento al Usuario, sino que solamente pretende
            alcanzar una finalidad de concientización acerca de la importancia de dar conocer la
            problemática, y sobre todo, fomentar la realización de denuncias que permita un combate
            eficaz frente al problema de la cifra negra.y difusión sobre la problemática de la cifra
            negra de los delitos informáticos. En todos los casos, se recomienda la consulta por parte
            del Usuario a un profesional especializado en la materia a fin de recibir el adecuado
            asesoramiento que merece el caso.</li>
          <li>Los datos recolectados, y de acuerdo al caudal de datos que puedan ser incorporados a
            través del Proyecto ODILA, serán publicados en informes anuales.</li>
          <li>El Proyecto ODILA no asume responsabilidad alguna por cualquier perjuicio, costo, daño
            o pérdida de ninguna naturaleza originado como consecuencia de la falta de utilidad,
            adecuación y/o validez del contenido del sitio para satisfacer necesidades, actividades
            y/o resultados concretos y/o expectativas de los Usuarios.</li>
          <li>
            La Red, no asume ningún tipo de responsabilidad que se derive de cualquier daño y/o
            perjuicio de cualquier naturaleza que se pudieran originar al Usuario como consecuencia
            o de cualquier forma relacionado con:
            <ul>
              <li>El acceso o utilización del sitio, incluyendo la responsabilidad relacionada con
                daños ocasionados por virus, programas maliciosos o lesivos en los contenidos y/o
                cualquier otro agente que pueda llegar a infectar o afectar de cualquier modo el/los
                sistema de computación utilizado por el Usuario.</li>
              <li>La falta de licitud, calidad, veracidad, utilidad y disponibilidad de los
                servicios prestados por terceros y puestos a disposición de los usuarios del
                sitio.</li>
              <li>La falta de disponibilidad, continuidad, acceso, mantenimiento y efectivo
                funcionamiento del Proyecto ODILA y/o de sus servicios y/o actualización, exactitud,
                exhaustividad, pertinencia, actualidad y fiabilidad de sus contenidos, cualquiera
                sea la causa, y las dificultades o problemas técnicos o de otra naturaleza en los que
                tengan su origen dichos hechos.</li>
              <li>La recepción, obtención, almacenamiento, difusión y/o transmisión, por parte de
                los Usuarios, de los contenidos del sitio.</li>
            </ul>
            <li>El Proyecto ODILA incluye dentro de sus contenidos enlaces con sitios pertenecientes
              y/o gestionados por terceros con el objeto de facilitar el acceso a información
              disponible a través de Internet. El Proyecto ODILA no asume ninguna responsabilidad
              derivada de la existencia de enlaces entre los contenidos de este sitio y contenidos
              situados fuera del mismo o de cualquier otra mención de contenidos externos a este sitio.
              Tales enlaces o menciones tienen una finalidad exclusivamente informativa y, en ningún caso,
              implican el apoyo, aprobación, comercialización o relación alguna entre el Proyecto ODILA y
              las personas o entidades autoras y/o gestoras de tales contenidos o titulares de los sitios
              donde se encuentren. En este sentido el Usuario se obliga a poner la máxima diligencia y
              prudencia en el caso de acceder o usar contenidos o servicios de los sitios a los que acceda en
              virtud de los mencionados enlaces. La enumeración anterior tiene mero carácter enunciativo y, en
              ningún caso, exclusivo ni excluyente en ninguno de sus puntos. En todos los supuestos,
              el Proyecto
              ODILA renuncia a toda responsabilidad por los daños y perjuicios de cualquier
              naturaleza derivados
              directa o indirectamente de los mismos y de cualquier otro caso no especificado de análogas
              características.</li>
        </ol>
        <h3>Contenidos</h3>
        <ol>
          <li>Todos los contenidos del Proyecto ODILA, están bajo Licencia Atribución-No
            Comercial-Compartir Obras Derivadas Igual 2.5 Argentina de Creative Commons. Como
            excepción, algunos contenidos pueden estar bajo licencias diferentes, lo cuál será
            notificado e informado al usuario en el propio contenido.</li>
          <li>Usted conservará los derechos de autor y cualquier otro derecho que ya posea del
            Contenido que envíe, publique o muestre en el Sitio. Al enviar, publicar o mostrar
            Contenido, estará concediendo al Proyecto ODILA una licencia temporal, internacional,
            revocable, no exclusiva y que no está sujeta a derechos de autor para reproducir,
            adaptar, modificar, traducir, publicar, representar y mostrar públicamente, así como
            para distribuir cualquier Contenido que envíe, publique o muestre en el sitio. Esta
            licencia se otorga con el único propósito de permitir al Proyecto ODILA, publicar y
            distribuir su servicio. En cualquier momento el Usuario puede revocar la licencia
            concedida, comunicando a los propietarios y/o administradores del Sitio.
            Datos Personales
          </li>
          <li>El Proyecto ODILA le informa a los usuarios del Sitio, acerca de sus políticas de
            protección de datos de carácter personal (En adelante "Datos Personales"), brindando
            información clara y precisa para que los usuarios determinen libre y voluntariamente su
            consentimiento para facilitar los Datos Personales requeridos por el Sitio.</li>
          <li>Los datos personales serán objeto de tratamiento automatizado e incorporados a los
            correspondientes registros de datos de carácter personal del cuál el titular y
            responsable es el Abog. Marcelo Temperini. Dicho registro, está debidamente inscripto
            ante la Dirección Nacional de Protección de Datos Personales, en cumplimiento y
            observación de la Ley Nº 25.326 y sus reglamentaciones.</li>
          <li>En cumplimiento con el art. 6 de la Ley Nº 25.326, se le informa a usted que la
            recolección y tratamiento de sus datos personales tiene como única finalidad el contacto
            por el Proyecto ODILA a fin de enviarle el reporte automáticamente generado, o bien, a
            fin de responder a la consulta realizada a través del formulario de Contacto del Proyecto
            ODILA. Se recuerda que en el primero de los casos, sobre la utilización del sistema de
            reportes de delitos informáticos, el mismo puede ser utilizado de forma anónima, sin
            necesidad de brindar ningún dato personal.</li>
          <li>Usted acepta que los datos brindados a través del formulario de reporte serán
            utilizados para elaborar estadísticas generales, sin identificar al usuario preservando
            su anonimato, utilizando tratamientos para disociación de datos, de acuerdo a los
            estándares de seguridad fijados por la Dirección Nacional de Protección de Datos
            Personales.</li>
          <li> se compromete a que toda la información que facilite deberá ser veraz, clara y
            actualizada. A estos efectos, usted garantiza la autenticidad de todos aquellos datos
            que ingrese al sistema.</li>
          <li>Usted tiene la facultad de ejercer el derecho de acceso a sus datos personales en
            forma gratuita en intervalos no inferiores a seis meses, salvo que se acredite un
            interés legítimo al efecto conforme lo establecido en el art. 14, inciso 3 de la Ley Nº
            25.326. La Dirección Nacional de Protección de Datos Personales, tiene la atribución de
            atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las
            normas sobre protección de los datos personales.</li>
          <li>Usted podrá en cualquier momento solicitar el retiro o bloqueo de su nombre de los
            bancos de datos a los que se refiere el presente artículo. Para hacer ejercicio de sus
            derechos tenga a bien comunicarse a <a
                                               href="javascript:location='mailto:\u006f\u0064\u0069\u006c\u0061\u0040\u006f\u0064\u0069\u006c\u0061\u002e\u006f\u0072\u0067';void
                                               0">este correo electrónico</a>.</li>
          <li>La DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES, Órgano de Control de la Ley
            Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan
            con relación al incumplimiento de las normas sobre protección de datos personales.
        </ol>
        <h3>Generales</h3>
        <ol>
          <li>Los presentes Términos y Condiciones constituyen el entero acuerdo entre las partes y
            derogan cualquier acuerdo anterior entre las partes en esta materia. La declaración de
            que alguna de las disposiciones de estos Términos y Condiciones fuese inválida o no
          ejecutable, no tendrá efecto alguno respecto de las demás provisiones de estos Términos y
          Condiciones, las cuales permanecerán con total efecto y vigencia.</li>
          <li>El Proyecto ODILA se reserva el derecho de, en cualquier momento y sin necesidad de
            previo aviso, modificar o eliminar el contenido, estructura, diseño, servicios y
            condiciones de acceso y/o uso de este sitio.</li>
        </ol>
      </div>
    </div>
  </div>
</section>
