<section id="exito" class='success'>
  <div class="container">
    <h1>Su consulta fue registrada con exito.</h1>
    <p>A la brevedad atenderemos su consulta y nos comunicaremos con usted. Gracias por su paciencia.</p>
    <p><strong>Equipo de ODILA</strong></p>
  </div>
</section>
